body {
    scroll-behavior: smooth;
    background-image: url("stars-background.jpg");
    background-color: #cccccc;
}
.greeting { 
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
} 

#cats {
    width: 300px;
    padding: 10px;
}
.chat-body {
    position: absolute;
    width: 400px;
    height: 88%;
    scroll-behavior: smooth;
    overflow: auto;
    padding: 20px;
    margin-bottom: 20px;
    scrollbar-width: none;
   
}

form {
    position: fixed;
    right: 0;
    bottom: 0px;
    left: 30px;
}

input {
    width: 310px;
    background-color:azure;
    height: 30px;
    border-radius: 10px; 
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    position: absolute;
    bottom: 3px;
    outline:none;
   
      
}

button {
    background-color:azure;
    height: 35px;
    border-radius: 10px; 
    width:77px;
    font-size: 13px;
    font-weight: bold;
    margin-left: 2px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    bottom: 3px;
    left: 320px;
    outline:none;
    margin-top:2;
   
}

.bubble {
    font-family: Arial, Helvetica, sans-serif;;
    color: black;
    width: 250px;
    position: relative; 
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 15px;
    margin-top: 0;
}

.timeStamp {
    font-size: 8px;
    color: #999; 
    position: absolute;
    right: 8px;
    bottom: 0px;

}

.userMessage {
    background-color:lemonchiffon;
    float: right;
    border-bottom-right-radius: 0px;
    margin-bottom: 15px;
    margin-top: 0;
}
.botMessage {
    background-color:rgb(248, 215, 220);
    float: left;
    border-bottom-left-radius: 0px;
    margin-bottom: 15px;
    margin-top: 0;
}

.poop {
    font-size: 60px;
}
